@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans JP"),url(../fonts/NotoSansJP-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans JP Bold"),url(../fonts/NotoSansJP-Bold.woff2) format("woff2")
}